:root {
  --color-links-hover: #00acdc;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.header__logo {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
}

ul,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}

.header__menu {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-left: 20px;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 60px;
  font-size: 12px;
  text-transform: uppercase;
  color: black;
}

.nav__link:hover {
  color: var(--color-links-hover);
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color-links-hover);
}

.nav__link.is-active {
  color: var(--color-links-hover);
}
